@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  overflow-x: hidden;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 8px;
  bottom: -10px;
  left: 0;
  background-color: #cee4e8;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.playfair{
    font-family: var(--playfairDisplay);
}

body,.noto{
    font-family: var(--notoSans);
}

.circle1{
  animation: animate infinite 30s ease-in-out;
}

.circle2{
  animation: animate2 infinite 30s ease-in-out;
}

@keyframes animate {
  0%{
    transform: translate(0px, 0px);
  }
  50%{
    transform: translate(50px, 50px);
  }
}

@keyframes animate2 {
  0%{
    transform: translate(0px, 0px);
  }
  50%{
    transform: translate(-50px, -50px);
  }
}